*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .fa-shopping-cart:before {
    content: "\f07a";
  }
  
    body{
        font-family: "Kaushan Script", cursive; 
        margin: 0;           
    }
    .first-page{
        height: 100vh;
        position: relative;
    }
    .backgd{
        background: url("https://source.unsplash.com/weekly?burger");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        z-index: -1;
    }

    .logo{
      cursor: pointer;
      width: 180px !important;

    }
    .logo img{
      width: 80px !important;
      height: 60px !important;
    }

    .nav-item{
        margin: 0 11px;
        padding: 10px;
    }
    .nav-item a{
        font-size: 1.5rem;
        transition: all 0.5s ease-in-out;
        color: #cecece;
    }
    .nav-item a:hover{
        color: hsl(27, 100%, 65%);
    }
    .cart-btn{
      font-size: 1.1rem;
      border: 0px;
      width: fit-content;
    }
    .cart-btn:hover{
      color: white;
      background-color: rgb(198, 231, 47);
    }

    .show-cart{
            width: 18rem;
            padding: 2rem 1.5rem;
            transform: rotateY(-360deg);
    }
    .cart{
        position: absolute;
        top: 110px;
        right: 0;
        background-color: rgba(64, 224, 208, 0.24);
    }
    .cart img{
        width: 60px !important;
        height: 50px !important;
    }

    @media screen and (max-width:999px) {
        .logo{
          position: absolute;
        }
        .logo img{
          width: 70px !important;
          height: 49px !important;
        }
        .nav-item{
            margin: 0 11px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .nav-item a{
            font-size: 1.3rem;
        }
        
        .cart-btn{
          font-size: 1.1rem;
        }
        .cart-btn{
            position: absolute;
            right: 20px;
          }
        .cart-btn:hover{
          color: white;
          background-color: rgb(198, 231, 47); 
        }
      }
      @media screen and (max-width:959px) {
        .cart-btn span{
          }
      }
      
    
    .mid-head{
        display: inline-block;
        z-index: 11;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    .mid-head p{
        font-size: 50px; 
        color: rgb(255, 168, 68);
        padding: 10px 20px;         
        background-color: rgba(0, 0, 0, 0.507);
    }

    .mid-head p b{
        color: #7df1c5;    
    }
    .butt1{
        width: 210px;
        height: 50px;
        font-size: 1.3rem;
        border: 0px;
        color: rgb(171, 201, 0);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .butt1:hover{
      background-color: rgb(171, 201, 0);
      color: white;
    }

    .container{
        position: relative;
        height: fit-content;
        margin-top: 150px;
        margin-bottom: 120px;
      }
      .container .row{
          margin-bottom: 80px;
      }
  
      @media screen and (max-width:768px) {
          .container{
              margin-top: 120px;
              margin-bottom: 70px;
            }
            .container .row{
              margin-bottom: 0px;
          }
      }

    

    h2 {
      font-size: 45px;
    }
    h2 b{
      font-size: 55px;
      color: blueviolet;
    }

    .allimg{
      position: relative;
      width: fit-content;
    }
    
    .allimg::before {
      content: "";
      position: absolute;
      left: -2rem;
      top: -2.5rem;
      width: 522px;
      height: 422px ;
      border: 0.7rem solid rgba(251, 255, 0, 0.911);
      transition: all 0.5s ease-in-out;
      z-index: -1;
  }
  .allimg:hover::before{
    transform: translate(2.08rem,1.79rem);
  }
  img{
    width: 500px;
    height: 400px ;
  }
  @media screen and (max-width: 1200px){
    img{
      width: 450px;
      height: 322px;
    }
    .allimg::before {
      content: "";
      position: absolute;
      left: -2rem;
      top: -2.5rem;
      width: 470px;
      height: 343px ;
      border: 0.7rem solid rgba(251, 255, 0, 0.911);
      transition: all 0.5s ease-in-out;
      z-index: -1;
  }
    }
  .bgblue{
    position: relative;
    background-color: rgb(216, 216, 216);
  }
  .head1{
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .head1 p{
    font-size: 52px;
  }
  .head1 p b{
    font-size: 77px;
    color: rgb(81, 204, 32);
  }
  .cardimg{
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .card img{
   width: 22rem;
   height: 18rem;
   padding: 0;
   margin: 0;
   transition: 0.5s all ease-in-out; 
  }
  .card img:hover{
   width: 22rem;
   height: 18rem;
   transform: scale(1.2);            
  }
  .cards{
    flex-wrap: wrap;
  }
  .box{
    flex-wrap: wrap;
  }
  .navbar-toggler{
    right: 10px;
  }